@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.norseFont {
    font-family: NorseBold;
    color: white;
    font-size: 10vh;
}

.page {
    display: flex;
}

.leftPage {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    width: 33.3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.odinBanner {
    display: flex;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 25vh;
    height: 14vh;
    justify-content: center;
    align-items: center;
}

.odinLogo {
    height: 12.5vh;
}

.imageCredit {
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 80vh;
    text-align: center;
}

.imageCredit, .imageCredit>a:link, .imageCredit>a:visited  {
    color: white;
}

.imageCredit>a:hover, .imageCredit>a:active {
    color: yellow;
}

.leftPage, .rightPage {
    display: flex;
    flex-direction: column;
}