@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.norseFont {
    font-family: NorseBold;
    color: white;
    font-size: 10vh;
}

p {
    font-weight: 700;
}

.page {
    display: flex;
}

#leftPage {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    width: 33.3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 auto;
}

#odinBanner {
    display: flex;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 22vh;
    height: 14vh;
    justify-content: center;
    align-items: center;
}

.odinLogo {
    height: 12.5vh;
}

.imageCredit {
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    top: 80vh;
    text-align: center;
}

.imageCredit, .imageCredit>a:link, .imageCredit>a:visited  {
    color: white;
}

.imageCredit>a:hover, .imageCredit>a:active {
    color: yellow;
}

#leftPage, #rightPage {
    display: flex;
    flex-direction: column;
}

#rightPage {
    height: 100vh;
    justify-content: space-between;
    width: 100%;
}

#topThird, #bottomThird {
    background-color: rgb(242, 244, 245);
}

#topThird {
    height: 36vh;
    
}

#topThird>p, #bottomThird>p {
    width: 80%;
    max-width: 550px;
    margin-left: 24px;
}

#topThird>p:nth-child(1) {
    margin-top: 100px;
    margin-bottom: 0;
    border: 1px solid blue;
}

#topThird>p:nth-child(2) {
    margin-top: 0;
}

#midThird {
    height: 38vh;
    box-shadow: 0 8px 6px -6px black;
}

#midThird>div>p {
    margin: 12px;
}

#bottomThird {
    height: 26vh;
}




#formAnnounce {
    padding: 12px;
}

.formRow {
    display: flex;
    flex-wrap: wrap;
}

.formRow>div {
    padding: 12px 24px;
}

.formColumn {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid #E5E7EB;
}

input:focus {
    border-color: #596D48;
    outline: #596D48;
}

label {
    font-size: small;
}

#signUpButton {
   color: white;
   background-color: #596D48;
   border-radius: 6px;
   height: 50px;
   width: 200px;
   font-weight: 700;
   font-size: large;
   margin: 24px;
}

@media screen and (max-width: 797px) {
    .page {
        flex-direction: column;
    }

    #leftPage {
        width: 100vw;
        height: 15vh;
    }

    .imageCredit {
        display: none;
    }

    #odinBanner {
        position: static;
    }

    #topThird, #midThird, #bottomThird {
        height: auto;
    }

    #topThird>p:nth-child(1) {
        margin-top: 12px;
    }
}